.themes{
  .title{
    margin-bottom: 18px;
  }
}


.themes-list {
  display: grid;
  gap: 15px;
  justify-self: center;
  grid-template-columns: repeat(auto-fill, minmax(130px, 250px));
}



@media (max-width: 560px) {
  .themes-list {
    display: grid;
    gap: 15px;
    justify-self: center;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
  }
}
@media (max-width: 371px) {
  .themes-list {
    display: grid;
    gap: 15px;
    justify-self: center;
    grid-template-columns: 1fr !important;
  }
}
