.header{
  
  .header-alt{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-block: 16px 15px;
  
    .return{
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 1.125rem;
      
      .btn{
        padding: 8px;
        font-size: 1.25rem;
      }
    }
  
    .search{
      display: flex;
      align-items: center;
      gap: 4px;
      
      padding: 7px 9px;
      border-radius: 27px;
      box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 40%);

      input{
        border: none;
        outline: none;
        background: none;
        font-size: .8rem;
        font-weight: bold;
        color: #625D5D;
        font-family: 'Poppins', sans-serif;
        ::placeholder{
          font-weight: bold;
          font-family: 'Poppins', sans-serif;
        }
      }

      .button-search{
        display: flex;
        background: none;
        border: none;
        font-size: 1.1rem;
        color: #FA7F7F;
        cursor : pointer;
      }
      
      .btn{
        padding: 8px;
        font-size: 1.25rem;
      }
    }
  }

}


@media (max-width: 390px) {
.header-alt{

  .search{
    width: 50%;

    .searchbar{
      width: 100%;
    }
  }
}
}